body{ 
background-image: url('./c.jpg');
background-repeat: no-repeat;
margin-left: 20px;
margin-top: 100px;
}
h5{
margin-top:-105px ;
margin-left: 60px;
font-size: 20px;
font-weight: 2px;
color:maroon;
}
h2{
color: grey;
text-transform: uppercase;
}
h3{
color:#00eaff;
font-weight: 400px;
text-transform: uppercase;
font-size: 25px;
}
h1{
color: red;
font-size: 15px;
font-weight: 300px;
}
img{
width:100px;
margin-left:150px;
margin-bottom: 70px;
margin-top: -90px;
background-color: transparent;
border-radius: 50px;
}
#details{
border-radius: 50px;
transition: all .55s ease-in-out;
background-color: transparent;
border-color:#00eaff;
border-bottom: 2px solid #00eaff;
font-size:17px;
color:#ffc700;
margin-top: 10px;
}
#details:hover{
transform: translatex(20px);
}
select{
border-radius: 50px;
color: #00eaff;
background-color:transparent ;
border-color: #00eaff;
}
#file{
border-radius:50px;
color: red;
align-items: center;
justify-content: center;

}
#button{
font-size: 20px;
font-weight: 200px;
text-align: center;
border-radius: 50px;
background-color: transparent;
color: #00eaff;
margin: 20px;
margin-left: 85px;
border-width: 1px ;
transition: all .55s ease;
}
#button:hover{
background-color: transparent;
transform: translateX(10px);
color: white;
}
@media(max-width:1440px){
 body{ 
background-image: url('./c.jpg');
background-repeat: no-repeat;
margin-left: 20px;
margin-top: 100px;
}   
}
@media(max-width:435px){
body{ 
background-image: url('./max.jpg');
background-repeat: no-repeat;
margin-left: 20px;
margin-top: 100px;
}
    
}
